<div class="container">
  <div class="example-card">
    <img class="example-card" src="{{movie.Poster}}" />
  </div>


  <Form class="form" [formGroup]="editForm" (ngSubmit)="UpdateMovie()" [ngStyle]="{'margin-top':'40px' }">


    <div class="form-group">
      <label for="MovieName">MovieName</label>
      <input type="text"
             class="form-control" [(ngModel)]="movie.MovieName"
             required name="MovieName" formControlName="MovieName" id="MovieName">

    </div>
    <div class="form-group">
      <label for="Year">Year of Release</label>
      <input type="text"
             class="form-control" name="Year" [(ngModel)]="movie.Year" id="Year" formControlName="Year">

    </div>
    <div class="form-group">
      <label for="Plot">Plot</label>
      <textarea class="form-control" name="Plot" id="Plot" [(ngModel)]="movie.Plot" formControlName="Plot"></textarea>

    </div>
    <div class="form-group">
      <label for="Poster">Upload Poster</label>


      <input type="file" class="form-control" name="Poster" id="Poster" (change)="handlefiles($event.target.files)" (ngModel)="movie.Poster" formControlName="Poster">
      <!--<input type="file" class="form-control" formControlName="Poster" id="Poster" (change)="handlefiles($event.target.files)" accept=".jpeg,.jpg,.png">-->

    </div>
    <div class="form-group">
      <label for="ProducerName">ProducerName</label>
      <input type="text"
             class="form-control" name="ProducerName" id="ProducerName" [(ngModel)]="movie.ProducerName" formControlName="ProducerName">

    </div>
    <div class="form-group">
      <label for="ActorsList">Actors</label>
      <input type="text" class="form-control" [(ngModel)]="movie.Actorslist" name="ActorsList" id="ActorsList" formControlName="ActorsList">

    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!editForm.valid">Submit</button>


  </Form>

  <a (click)="NavigateToMovies()">Back to Movies</a>
</div>
