<div class="container">
  
  <div  *ngIf="!editFlag">
 
  <a class="btn btn-primary" (click)="addFlag=!addFlag">Add</a>
  <Form class="form" [formGroup]= "movieForm"(ngSubmit)="onSubmit(movieForm.value)" *ngIf="addFlag" >

   
        <div class="form-group ">
          <label for="MovieName">Name</label>
          <input type="text"
                 class="form-control txt" formControlName="MovieName" id="MovieName">
          <div *ngFor="let validation of validationMessages.MovieName">
            <label *ngIf="movieForm.get('MovieName').hasError(validation.type) && (movieForm.get('MovieName').dirty || movieForm.get('MovieName').touched)" [ngClass]="'error'">Movie Name{{validation.message}}</label>
          </div>
        
      
    </div>
    <div class="form-group">
      <label for="Year">Year of Release</label>
      <input type="text"
             class="form-control" formControlName="Year"id="Year">
             <div *ngFor="let validation of validationMessages.Year">
              <label *ngIf="movieForm.get('Year').hasError(validation.type) && (movieForm.get('Year').dirty || movieForm.get('Year').touched)" [ngClass]="'error'" >Year{{validation.message}}</label>   
             </div>    
    </div>
    <div class="form-group">
      <label for="Plot">Plot</label>
      <textarea
             class="form-control scrollabletextbox" formControlName="Plot"id="Plot"></textarea>
             <div *ngFor="let validation of validationMessages.Plot">
             <label *ngIf="movieForm.get('Plot').hasError(validation.type) && (movieForm.get('Plot').dirty || movieForm.get('Plot').touched) "[ngClass]="'error'">Plot{{validation.message}}</label>   
             </div>
    </div>
    <div class="form-group">
      <label for="Poster">Upload Poster</label>
      <input type="file"    class="form-control" formControlName="Poster"id="Poster" (change)="handlefiles($event.target.files)" accept=".jpeg,.jpg,.png" >
      <div *ngFor="let validation of validationMessages.Poster">
      <label *ngIf="movieForm.get('Poster').hasError(validation.type) && (movieForm.get('Poster').dirty || movieForm.get('Poster').touched)"[ngClass]="'error'">Poster Upload {{validation.message}}</label>   
      </div>
    </div>
    <div class="form-group">
      <label for="ProducerName">ProducerName</label>
      <div *ngFor="let validation of validationMessages.ProducerName">
      <input type="text"
             class="form-control" formControlName="ProducerName"id="ProducerName">
             <label *ngIf="movieForm.get('ProducerName').hasError(validation.type) && (movieForm.get('ProducerName').dirty || movieForm.get('ProducerName').touched)" [ngClass]="'error'">Producer Name{{validation.message}}</label>   
            </div>
       </div>
    <div class="form-group">
      <label for="Actorslist">Actors</label>
      <textarea  class="form-control scrollabletextbox" formControlName="Actorslist"id="Actorslist"></textarea>
      <div *ngFor="let validation of validationMessages.Actorslist">
      <label *ngIf="movieForm.get('Actorslist').hasError(validation.type) && (movieForm.get('Actorslist').dirty || movieForm.get('Actorslist').touched)" [ngClass]="'error'">Actorslist{{validation.message}}</label>   
    </div>
    </div>
   
    <button type="submit" class="btn btn-primary" [disabled]="!movieForm.valid">Submit</button>
    <button type="reset" class="btn btn-primary" (click)="addFlag=false;movieForm.reset();" >Cancel</button>
    
    </Form> 
    
       <div class="row">
          <div class="col-md-4"*ngFor="let movie of movies">
            <div class="card" >
                <h4 class="card-title">{{movie.MovieName}} </h4>
                <a (click)="emitOutput(movie)">Edit</a><a (click)="delete(movie)"><span class="delete">Remove</span></a>
              <div class="card-body">
              <img class="sample" class="img-responsive sample" src="{{movie.Poster}}">
               
                <p class="card-text">{{movie.Plot}}</p>
                
                <h5>Cast : {{movie.Actorslist}}</h5>
                <h5>Producer : {{movie.ProducerName}}</h5>
              
              </div>
    
            </div>
          </div>
        </div>  
  </div>
</div>


<div *ngIf="editFlag">
  <app-edit-movie [movie]="editMovie" (moviesHome)="ReloadPage()"></app-edit-movie>
  
</div>  

