.example-card {
  max-width: 400px;
}

.example-header-image {
 
  background-size: cover;
}
.card-img-top {
    width: 100%;
    object-fit: cover
}


.error {
color: red;
font-size: 15px;
font-style: normal;
font-weight:lighter;

}
.delete{
text-align: right;
position: absolute;
margin-left: 70px;


}
input,textarea {

width:500px;
}
.sample{
 
    height: 100px;
    width: 150px;
    object-fit: cover;
    background-size: contain;

}

.container
{

  margin-top:20px;
}

.Addnew{

margin-top:0px;
position: fixed;

}

